/*PHOTOGRAPHER HEADER with his info*/
.photograph-header {
    background-color: #FAFAFA;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h3,
.photograph-header div h4 {
    font-weight: 100;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.photograph-header div h2 {
    color: #D3573C;
    font-size: 3rem;
    font-weight: 100;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

h3 {
    color: #901C1C;
    font-size: 1.5rem;
}

.photograph-header div h4 {
    color: #000;
    font-size: 1rem;
}

.photograph-header > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/*MEDIAS SECTION*/
.photograph-medias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photograph-medias article img,
.photograph-medias article video {
    width: 100%;
    height: 450px;
    border-radius: 5px;
    object-fit: cover;
    
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mediaDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-heart {
    color: #901C1C;
}

.likesDiv span {
    color: #901C1C;
    font-weight: bold;
    margin-right: 0.5rem;
}

/*MODAL Contact form*/
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

#modal header {
    justify-content: space-between;
    width: 100%;
}

#modal header img {
    cursor: pointer;
}

#modal header h2,
#modal__Photographer--name {
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
    margin: 0 0 0 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}