/***PHOTOGRAPHER HEADER with his info***/
.photograph-header {
    background-color: #FAFAFA;
    height: auto;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h2,
.photograph-header div p {
    font-weight: 100;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.photograph-header div h1 {
    color: #D3573C;
    font-size: 3rem;
    font-weight: 100;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

h2 {
    color: #901C1C;
    font-size: 1.5rem;
}

.photograph-header div p {
    color: #000;
    font-size: 1rem;
}

.photograph-header > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: end;
}

#contact_button{
    align-self: center;
    justify-self: center;
}

#contact_button,
#submit_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/***MEDIAS SECTION***/
.medias-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    padding-top: 100px;
}

/*Barre des filtres*/
#filter_container {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 10px;
}

#filter_container p {
    font-weight: bold;
}

#filter_elements {
    width: 170px;
    height: auto;
    color: #ffffff;
    background-color:#901C1C;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px gray;
    position: relative;
}

#up {
    display: none;
}

.fa-chevron-down,
.fa-chevron-up {
    color: #ffffff;
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
    cursor: pointer;
}

#filter_elements button {
    padding: 1rem;
    margin: 0;
    background-color: #901C1C;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
}

#filter_elements button:nth-child(0n+4) {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

#filter_date,
#filter_titre {
    display: none;
    z-index: 15;
}

/*Medias*/
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article a {
    display: flex;
    width: 100%;
}

.photograph-medias{
    position: relative;
}

.photograph-medias article a img,
.photograph-medias article video {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    
}

.mediaDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-heart {
    color: #901C1C;
}

.likesDiv span {
    color: #901C1C;
    font-weight: bold;
    margin-right: 0.5rem;
}

/*TAG Likes & tarif*/
#tag_LikesPrice {
    width: 376px;
    height: 70px;
    background-color: #DB8876;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    margin-right: 3rem;
    padding: 5px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

#tag_LikesPrice span {
    display: flex;
    align-items: center;
}

.tag-heart{
    color: black;
}

/*MODAL Contact form*/
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 50px;
    margin-bottom: 50px ;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

#modal_header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#modal header img {
    cursor: pointer;
}

#modal_title {
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

#modal_form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3rem;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#input_message {
    height: 170px;
}

/*LIGHTBOX*/
#lightbox_container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 95%; /*pourquoi quand je mets 100% ça dépace du desktop?*/
    height: 100vh;
    background-color: #ffffff;
    z-index: 1;
    padding: 25px 50px;
    transition: opacity 300ms;
}

.lightbox_closing {
    opacity: 0;
}

#lightbox_prev,
#lightbox_next {
    border: none;
    background: url(/assets/icons/chevron.svg) center center / 100% 100%;
    width: 48px;
    height: 100%;
    z-index: 2;
    text-indent: -10000px;
    cursor: pointer;
}

#lightbox_next {
    transform: rotate(180deg);
}

#lightbox_close {
    border: none;
    background: url(/assets/icons/close_lightbox.svg) center center / 42px 42px;
    width: 42px;
    height: 42px;
    position: relative;
    top: 0px;
    right: 42px;
    text-indent: -10000px;
    z-index: 100;
    cursor: pointer;
}

#lightbox_media {
    display: flex;
    flex-direction: column;
    align-content: center;
    
    height: 100%;
    padding: 0 25px;
}

#lightbox_media img,
#lightbox_media video{
    width: auto;
    height: 90vh;
    box-shadow: 5px 0px 1px grey;
}